<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
		    <div class="intro-heading"><img src = "../css/2016_style/img/tekhin-logo.png"/><br></div>
                <div class="intro-lead-in">Oct 21, 2017</div>
                <div class="intro-lead-in">Northbridge International School, Phnom Penh</div>
                <div class="intro-lead-in"><small>Registrations for attendance is now CLOSED. However, if you want to come you can still:</small></div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTvgLpo2mQG8DsJz3o8_pybKLPMc9lQFQM20uZQ-IB9ADkTw/viewform?usp=sf_link" class="page-scroll btn btn-xl">Register to Speak</a>
            </div>
        </div>
    </header>

    <!--{% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %} -->
    {% include 2016_data/js.html %}

    </body>
</html>
